@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");

:root {
  --strong-dark: #575050;
  --normal-dark: #746a6a;
  --light-dark: #e5e5e5;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url(./assets/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 54vw;
  height: 100vh;
  position: absolute;
  z-index: -9;
}

.Todo {
  margin-top: 30vh;
  max-width: 90%;
  min-width: 50%;
}

.todo-header {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.todo-list {
  list-style-type: none;
  padding: 0px;
  max-height: 80%;
  overflow: auto;
}

.task {
  border-bottom: 1px solid var(--light-dark);
  padding: 10px;
  padding-left: 25px;
  display: flex;
}

.todo-form {
  display: flex;
  width: 100%;
}

.center-flex {
  justify-content: center;
  align-items: center;
}

.task-input {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  padding: 0px;
  margin-left: 10px;
  width: 89%;
}

.no-border {
  border: none;
}

.task-input:focus {
  outline: none;
}

.task-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  align-self: center;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task-title-not-done {
  position: relative;
  animation: blacktolight 150ms linear forwards;
  animation-direction: reverse;
}

.task-title-not-done::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: var(--strong-dark);
  animation: strikethrough 150ms linear forwards;
  animation-direction: reverse;
}

.task-title-done {
  position: relative;
  animation: blacktolight 150ms linear forwards;
}

.task-title-done::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: var(--strong-dark);
  animation: strikethrough 150ms linear;
}

@keyframes blacktolight {
  0% {
    color: black;
  }
  100% {
    color: var(--strong-dark);
  }
}

@keyframes strikethrough {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}

.no-select {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.task-done::after {
  content: url(./assets/tick.svg);
  position: relative;
  width: 18px;
  left: 4px;
  top: -23px;
  cursor: pointer;
  animation: increase 130ms linear;
  z-index: -1;
  display: inline-block;
}

@keyframes increase {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.task-not-done::after {
  content: url(./assets/tick.svg);
  position: relative;
  width: 18px;
  left: 4px;
  top: -23px;
  cursor: pointer;
  animation: decrease 130ms linear forwards;
  display: inline-block;
}

@keyframes decrease {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.trash-icon {
  color: var(--light-dark);
}

.trash-icon:hover {
  color: var(--strong-dark);
}

.circle-size {
  width: 25px;
  height: 25px;
}

.add-icon {
  color: var(--normal-dark);
  animation: spin 400ms;
}

@keyframes spin {
  0% {
    transform: rotate(180deg);
    color: var(--light-dark);
  }
  100% {
    transform: rotate(360deg);
    color: var(--normal-dark);
  }
}

.circle-icon {
  display: flex;
  color: var(--normal-dark);
  animation: increase 300ms;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}

.control {
  margin-top: 30px;
  animation: finezo 200ms linear forwards;
}

@keyframes finezo {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.time-left {
  text-align: center;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 144px;
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-underline-offset: 10px;
  color: #ffffff;
  margin-top: 40px;
}

.pomodoro-header {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}

.left {
  /* background-image: url(./assets/Rectangle.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  width: 53vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 47vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.Pomodoro {
  width: 478px;
  height: 454px;
  padding: 30px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px 30px 30px 0px;
}

.credits {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 36px;
}

.left-credits {
  position: absolute;
  top: 95%;
  right: 53%;
  color: #ffffff;
}

.right-credits {
  position: absolute;
  top: 95%;
  left: 53%;
}
